* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}

img.backLogo{
  width:100%;
  position: absolute;
}

body{
  background-image: url("./images/noir.jpg");
  background-size: cover;
  background-attachment: local;
  background-position: center;
}

nav.titreFP{
  align-items: center;
  position:sticky;
  display: flex;
  background: #9B1B09;
  height: 80px;
  width: inherit;

}



.logo h1 a{
  color: #D3CA20;
  font-family: "ma police"; src: url('../Slope-Opera.otf');
  font-style: italic;
  font-size: 40px;
  margin-left: 10px;
  text-decoration: none;

}

.banniere a{
  margin-left: 400px;
  list-style-type: none;
  border: solid #D3CA20;
  background-color: #D3CA20;
  border-radius: 10%;
  text-decoration: none;


}


.banniere{
  align-items: center;
  position: sticky;
  display: flex;
}

.citations {
  width: 300px;
  height: 200px;
  border:none;
  padding: 0;
  position: relative;
  margin: 150px auto;
}



#defiler{
  list-style-type: none;
  display: flex;
  margin: 0px;
  position: absolute;
  left:0;
  top:0;
  padding:0;

}

@keyframes slide{
  0%{left:0px;}
  10%{left:0px;}
  35%{left:-100%;}
  45%{left:-100%;}
  75%{left:-200%;}
  85%{left:-200%;}
  90%{left:-300%;}
  100%{left:-300%;}


}

#defiler img{
  width: 300px;
  height: 300px;
  margin: 10px;
  opacity: 0.9;
}


#defiler{
  animation: slide 15s linear infinite;
}

.box{
  display: inline;
  justify-content: center;
  align-items: center;
}


/*  -- box1 -- */

div.box1 {

  width: 30%;

  border-radius: 0px;

  padding: 7px 7px 7px 7px;
  color: white;
  background-image: url("bienetre.jpg");
  background-size: cover;
  background-color: grey;

  opacity: 0.9;
  height: 150px;

}

.box1 p{
  color: white;
  font-family: inherit;
  font-size: 20px;

}

.box1 h1{
  font-family: inherit;
  color: white;
  font-size: 30px;
}

div.box1 a{
  text-decoration: none;
  font-style: italic;
  color: white;
}



/* -- box2 -- */


div.box2 {

  width: 30%;

  border-radius: 0px;

  padding: 7px 7px 7px 7px;
  color: white;
  background-image: url("sport.jpg");
  background-size: cover;
  background-color: grey;

  opacity: 0.9;
  height: 150px;

}

.box2 p{
  color: white;
  font-family: inherit;
  font-size: 20px;

}

.box1 h1{
  font-family: inherit;
  color: white;
  font-size: 30px;
}

div.box2 a{
  text-decoration: none;
  font-style: italic;
  color: white;
}



/* -- box3 -- */

div.box3 {

  width: 30%;

  border-radius: 0px;

  padding: 7px 7px 7px 7px;
  color: white;
  background-image: url("nutri.jpg");
  background-size: cover;
  background-color: grey;

  opacity: 0.9;
  height: 150px;

}

.box3 p{
  color: white;
  font-family: inherit;
  font-size: 20px;

}

.box3 h1{
  font-family: inherit;
  color: white;
  font-size: 30px;
}

div.box3 a{
  text-decoration: none;
  font-style: italic;
  color: white;
}


/* --Formulaire-- */

.formulaire {
  height: 500px;
  width: 100%;
  border: solid;
  border-radius: 5%;
  margin: 50px;
  background-color: white;
  opacity: 0.5;
  text-align: center;

}

.formulaire p{
  font-family: monospace;
  font-color: black;
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;

}

.SubForm{
  font-family: monospace;
  font-color: black;
  font-size: 20px;
  height: 40px;
  width: 150px;
  margin-top: 50px;
  border-color: #9B1B09;
  background-color: #9B1B09;
}
